<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="60 seconds">
    <!--statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /-->

    <!--Levels are ordered: TRACE < DEBUG < INFO < WARN < ERROR -->
    <!-- %date{yyyy-MM-dd HH:mm:ss.SSS} -->
    <property name="pattern" value="%date{HH:mm:ss.SSS} - %-5level[%thread] - %logger{0}[%method] - %message%n" />
    <property name="log.dir" value="${user.home}/.java-apps/jripper" />

    <if condition='isNull("pattern")'>
        <then>
            <property name="pattern" value="%date{HH:mm:ss.SSS} - %.-1level - %-35.-35logger{0} - %message%n" />
        </then>
        <else>
        </else>
    </if>
    <if condition='isNull("log.dir")'>
        <then>
            <property name="log.dir" value="${user.home}/.java-apps/jripper" />
        </then>
    </if>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>${pattern}</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <immediateFlush>false</immediateFlush>
        <encoder>
            <pattern>${pattern}</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/jripper.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/%d{yyyy-MM,aux}/jripper.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
        <!--filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter-->
    </appender>

    <logger name="JRipper" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="JRipperSwing" level="INFO">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="de.freese.binding" level="DEBUG" />
    <logger name="de.freese.jripper" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
