<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="60 seconds">
	<!--statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /-->  
	
	<!--Levels are ordered: TRACE < DEBUG < INFO < WARN < ERROR -->
	<property name="pattern"
		value="%date{yyyy-MM-dd HH:mm:ss.SSS} - %-5level[%thread] - %logger{0}.%class{0}[%method] - %message%n" />

	<!-- Fuer Bedingungen wird Dependency org.codehaus.janino:janino:[2.6.1,) benoetigt.-->
	<!--if condition='isNull("log.pattern")'>
		<then>
			<property name="log.pattern"
				value="%date{yyyy-MM-dd HH:mm:ss.SSS} - %-5level[%thread] - %logger{0}[%method] - %message%n" />
		</then>
		<else>
		</else>
	</if-->	
	<!--if condition='isNull("log.dir")'>
		<then>
			<property name="log.dir" value="${user.home}/logs" />
		</then>
		<else>
		</else>
	</if-->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>${pattern}</pattern>
			<outputPatternAsHeader>false</outputPatternAsHeader>
			<immediateFlush>false</immediateFlush>			
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
	</appender>

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>${pattern}</pattern>
			<outputPatternAsHeader>false</outputPatternAsHeader>
			<immediateFlush>false</immediateFlush>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>

	<!--appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/test.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/test.%d{yyyy-MM-dd}.log.gz
			</fileNamePattern-->
			<!--maxHistory>30</maxHistory -->
		<!--/rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
			<outputPatternAsHeader>false</outputPatternAsHeader>
			<immediateFlush>false</immediateFlush>			
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
	</appender>

	<logger name="cloudsession.CloudSessionCache" level="DEBUG">
		<appender-ref ref="FILE" />
	</logger-->
	
	<logger name="JRipper" level="INFO" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDERR" />
	</root>
</configuration>